@keyframes run{
  from{
    text-indent: 100%;

  }
  to{
    text-indent: -200%;

  }
}
p{
  animation: run 10s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  
}
p:hover{
  animation-play-state: paused;

}