body{
  margin: 0;
}



div{
  width: 220px;
  padding: 20px;
  background-color: gray;
  border-radius: 0 5px 5px 0;
  position: fixed;
  top: calc(50% - 43.2px);
  left: -170px;
  transition: left 700ms;
  
}
div:hover{
  left: 0;
  
}
div:hover .arrow i{
  transform: rotate(-180deg);
}
a{
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  padding: 5px;
}
.arrow{
  font-size: 2.6em;
  color: rgba(131, 0, 0, 0.822);
  padding: 5px 5px 5px 20px;
}