input{
  height: 0;
}
input::after{
  content: "\25CF";
  font-size: 30px;
  border: 2px solid #ccc;
  border-radius: 50px;
  padding-left: 75px;
  padding-right: 10px;
  background-color: teal;
  color: bisque;
  text-shadow: 0 0 4px black;
  cursor: pointer;
  transition: 2s;

}
input:checked::after{
  content:"\25CF" ;
  padding-right: 75px;
  padding-left: 10px;
}